In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
dataset = pd.read_csv("creditcard.csv")
dataset.shape

FileNotFoundError: ignored

In [ ]:
dataset.tail() #.tail() is used to get last n rows

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
21873,31906,1.285161,-0.701455,0.221870,-0.744753,-0.674967,0.034267,-0.631373,0.097860,-0.835749,...,0.083025,0.190059,-0.074942,-0.278466,0.463615,-0.223877,0.011735,0.000997,39.75,0.0
21874,31906,-0.345979,1.094568,1.282208,0.068241,-0.016965,-0.989567,0.693958,-0.050855,-0.333856,...,-0.266852,-0.723026,-0.003364,0.322646,-0.173496,0.073145,0.241997,0.097610,5.99,0.0
21875,31907,1.171852,0.718042,-0.227521,1.373722,0.152349,-0.949840,0.271427,-0.153000,-0.184297,...,-0.013584,0.088759,-0.059148,0.278992,0.589886,-0.319374,0.055064,0.058347,1.00,0.0
21876,31907,1.209330,-1.130242,1.614261,0.000265,-1.974416,0.262320,-1.369554,0.173769,0.639855,...,-0.520157,-0.573057,0.037646,0.488580,0.161446,1.067798,0.025745,0.028549,40.00,0.0
21877,31907,-0.184653,0.376693,0.632988,-2.282365,0.403553,-0.371666,0.695359,-0.064835,0.610986,...,-0.130997,-0.312833,-0.156567,-0.899683,0.093186,-0.130187,0.029255,0.009228,NaN,NaN

In [ ]:
dataset.isnull().sum() #. isnull() is used to replaced with a Boolean value True for NULL values, and otherwise False.

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    1
Class     1
dtype: int64

In [ ]:
dataset = dataset.dropna() # .dropna() remove the row that contains null value

In [ ]:
dataset.isnull().sum() #. sum() return the sum of the values for the requested axis by the user

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
X = dataset.drop('Class', axis=1)  #drop() used to drop specified labels from rows or columns
y = dataset['Class']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)  #test size : the percentage of data you want to be in test set
#print(X_test.iloc[0,:])  , location

In [ ]:
print(X_test)

        Time        V1        V2        V3        V4        V5        V6  \
6989    9140 -0.790966  1.195683  1.270240 -0.267146 -0.023160 -0.566069
15798  27240  1.100194 -0.073117 -0.411282  0.473965  0.287575 -0.184361
10012  15052 -2.361985  2.305542  1.272110 -1.837207  0.206866 -0.608187
18012  29113  1.236633  0.187175 -0.174051  0.446210 -0.130176 -1.014083
17637  28834  1.207926 -0.789070  0.529527 -0.534195 -1.009504 -0.124948
...      ...       ...       ...       ...       ...       ...       ...
17178  28501  1.305616  0.151458 -1.485607 -0.058496  2.394843  3.189059
3664    3136  1.216198  0.086014  0.214906  0.714629 -0.373391 -0.761150
11860  20388 -0.358611  1.133696  1.307448  0.079902  0.264467 -0.445892
4723    4156 -1.252275 -0.377921  2.613455  1.753363  0.680749 -0.572591
2475    2039 -4.454186 -3.581156 -0.522735  2.216885  6.077260 -5.500163

             V7        V8        V9  ...       V20       V21       V22  \
6989   0.306686  0.384884  0.789019  ... -0.366738 -0.223746 -0.609533
15798  0.387912 -0.165050 -0.117307  ...  0.117559 -0.018556 -0.196407
10012  1.242427 -0.953702  4.210509  ...  1.727361 -0.806318 -0.442150
18012  0.338075 -0.187068 -0.355790  ... -0.128962  0.020696 -0.008628
17637 -0.674119  0.097185 -0.714928  ...  0.103788  0.097129  0.266258
...         ...       ...       ...  ...       ...       ...       ...
17178 -0.195307  0.711277 -0.267473  ... -0.018768 -0.080875 -0.346227
3664   0.097212 -0.090298  0.296224  ... -0.239189 -0.031766  0.054995
11860  0.453939  0.055319  0.760880  ...  0.044570 -0.392834 -0.881559
4723  -0.844290  0.205576  1.007159  ...  0.402911  0.241604  0.651255
2475  -1.928049 -0.207121 -0.394237  ...  0.155928  0.036795 -0.215103

            V23       V24       V25       V26       V27       V28  Amount
6989   0.140475 -0.028320 -0.642916 -0.137278 -0.053218  0.076091    8.99
15798 -0.229285 -0.715470  0.582926  0.437122 -0.053540  0.012766  107.60
10012 -0.042714  0.007716  0.082813  0.620957  0.496672 -0.389940    1.15
18012 -0.121250  0.358915  0.604252  0.519368 -0.083857 -0.011143   16.72
17637 -0.028447  0.264066  0.408954 -0.249524  0.017974  0.009327   54.00
...         ...       ...       ...       ...       ...       ...     ...
17178 -0.132474  1.000005  0.886958 -0.343034  0.005249  0.010525    7.32
3664  -0.024938  0.434220  0.513600  0.568000 -0.041906 -0.001788    0.00
11860 -0.050238 -0.128323 -0.194498  0.038587  0.210401  0.076819    1.79
4723   0.261734  0.357739 -0.531236 -0.322070  0.150431  0.189056   33.00
2475   0.096331  0.669872 -0.168050 -0.595656  0.045526  0.851741    0.89

[4376 rows x 30 columns]

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)  #fit to train x and y

DecisionTreeClassifier()

In [ ]:
y_pred = classifier.predict(X_test)
#print(y_pred)
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[4357    0]
 [   8   11]]
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00      4357
         1.0       1.00      0.58      0.73        19

    accuracy                           1.00      4376
   macro avg       1.00      0.79      0.87      4376
weighted avg       1.00      1.00      1.00      4376

In [ ]:
#Precision :is the ratio of correctly predicted positive observations to the total predicted positive observations
#Recall is the ratio of correctly predicted positive observations to the all observations in actual class - yes
#F1 Score is the weighted average of Precision and Recall
#The support is the number of samples of the true response that lie in that class

In [ ]:
'''import numpy as np
test = np.random.random(30)
print(test)
test1 = list(test)'''

'import numpy as np\ntest = np.random.random(30)\nprint(test)\ntest1 = list(test)'

In [ ]:
a = np.array([472,-3.043540624,-3.157307121,1.08846278,2.288643618,1.35980513,-1.064822523,0.325574266,-0.067793653,-0.270952836,-0.838586565,-0.414575448,-0.50314086,0.676501545,-1.692028933,2.000634839,0.666779696,0.599717414,1.725321007,0.28334483,2.102338793,0.661695925,0.435477209,1.375965743,-0.293803153,0.279798032,-0.145361715,-0.252773123,0.035764225,529])

In [ ]:
a.reshape(-1,1)

array([[ 4.72000000e+02],
       [-3.04354062e+00],
       [-3.15730712e+00],
       [ 1.08846278e+00],
       [ 2.28864362e+00],
       [ 1.35980513e+00],
       [-1.06482252e+00],
       [ 3.25574266e-01],
       [-6.77936530e-02],
       [-2.70952836e-01],
       [-8.38586565e-01],
       [-4.14575448e-01],
       [-5.03140860e-01],
       [ 6.76501545e-01],
       [-1.69202893e+00],
       [ 2.00063484e+00],
       [ 6.66779696e-01],
       [ 5.99717414e-01],
       [ 1.72532101e+00],
       [ 2.83344830e-01],
       [ 2.10233879e+00],
       [ 6.61695925e-01],
       [ 4.35477209e-01],
       [ 1.37596574e+00],
       [-2.93803153e-01],
       [ 2.79798032e-01],
       [-1.45361715e-01],
       [-2.52773123e-01],
       [ 3.57642250e-02],
       [ 5.29000000e+02]])

In [ ]:
y_pred = classifier.predict([a])
print(y_pred)

[1.]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"